#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 5s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.caja {
    display: inline-flex;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: all 300ms ease-in-out;
    border: 2px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.caja:hover {
  box-shadow: -4px 10px 14px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}
.caja__texto-caja
{
  color: black;
  font-size: 20px;
  font-weight: bold;
  align-content: center;
}

.header__menu{
  background-color: #1f2a5c;
  margin-bottom: 1.5rem;
  /* border-radius: 4.5rem; */
  display: flex;
  justify-content: end;
}

.header__menu-h1{
  margin-right: 3.5rem;
  padding-left: 0.5rem;
}

.menu__menu-nav {
  /* padding: 0.5rem; */
  display: flex;
  /* border: 6px solid purple; */
  /* border-radius: 4.5rem; */
  justify-content: end;
  width: 99.5rem;
}
.menu-nav__inicio {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* text-decoration: none; */
  padding: 1rem;
}
.inicio__li {
  list-style: none;
  margin: 1rem;
  color: white;
}
.inicio__li:hover{
  color: #000002;
}

.content {
  min-height: 350px;
  background-color: black;
  width: 70%;
  margin: 0 auto;
  padding-top: 1.5rem;
  border-radius: 1.5rem;
  border: 3px solid rgb(250, 244, 244);
}

.inicio__form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.form__name{
  padding: 0.5rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  background-color: rgb(171, 204, 194);
  border: 4px solid mediumpurple;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}

.form__name:hover{
  border: 4px solid #646cff;
  background-color: #1f2a5c;
  transform: scale(1.05);
}