@import "tailwindcss";
@import 'tw-animate-css';
@import './responsive.css';




:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(#0d0912,#392f68 );
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
  color: #ffffff;
  z-index: 10;
}
.main__title {
  font-size: 2rem;
  line-height: 1.1;
  color: #ffffff;
  z-index: 10;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.nav-type {
  list-style-type: none;
  display: flex;
  padding: 7px 0;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #201835,#221A39,#744AC1, #221A39);
  animation: 10s myGradient infinite;
  border-radius: 40px;
  box-shadow: 3px 3px 20px #3D2A5F;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

@keyframes myGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}
li a {
  color: #fff;
  text-decoration: none;
  font-family: verdana;
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
  opacity: 0.9;
}

.navigation {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 2.5%;
  left: 50%;
  z-index: 100;
}

.formas__item {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.formas__img{
  max-width: 1200px;
  display: block;
}

.formas__items--forma1 {
  text-align: right;
  top: -5px;
  right: 0;
  animation-name: mostrar_derecha;
  animation-duration: 1s;
  width: 398px;
}

@keyframes mostrar_derecha {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}
.formas__items--forma2{
  bottom: -10px;
  left: -20px;
  animation-name: mostrar_izquierda;
  animation-duration: 1s;
}

@keyframes mostrar_izquierda {
  0%{
      transform: translateX(-50%);
  }
  
  100%{
      transform: translateX(0%);
  }
}
.formas__items--forma3 {
  top: 0px;
  left: -62px;
  animation-name: mostrar_izquierda;
  animation-duration: 1s;
} 

@keyframes mostrar_izquierda {
  0%{
      transform: translateX(-50%);
  }
  
  100%{
      transform: translateX(0%);
  }
}
.formas__items--forma4{
  bottom: -27px;
  right: -33px;
  animation-name: mostrar_derecha_abajo;
  animation-duration: 1s;
}

@keyframes mostrar_derecha_abajo{
  0%{
      transform: translateX(50%);
  }
  
  100%{
      transform: translateX(0%);
  }
}
.formas__items--forma5{
  top: 19%;
  left: 61%;
  animation: mover_forma5 20s infinite ;
}

@keyframes mover_forma5{
  0%{
      transform: translateX(0) translateY(0);
  }
  40%{
      transform: translateX(100px) translateY(-200px);
  }
  75%{
      transform: translateX(900px);
  }
  
  100%{
      transform: translateX(0) translateY(0);
  }
}
.formas__items--forma6{
  top: 50%;
  left: 10%;
  animation: mover_forma6 20s infinite ;
}

@keyframes mover_forma6{
  0%{
      transform: translateX(0) translateY(0);
  }
  40%{
      transform: translateX(400px) translateY(700px);
  }
  75%{
      transform: translateX(-500px) translateY(500px);
  }
  
  100%{
      transform: translateX(0) translateY(0);
  }
}
.formas__items--forma7{
  top: 50%;
  left: 50%;
  animation: mover_forma7 20s infinite ;
  z-index: 0;
}

@keyframes mover_forma7{
  0%{
      transform: translateX(0) translateY(0);
  }
  40%{
      transform: translateX(-500px) translateY(700px);
  }
  75%{
      transform: translateX(-500px) translateY(500px);
  }
  
  100%{
      transform: translateX(0) translateY(0);
  }
}

.formas__items--forma8 {
  top: 30%;
  left: 20%;
  animation: none /*mover_forma8 12s infinite*/;
  opacity: 1;
  /* Elimina el box-shadow de aquí */
  
}
.formas__items--forma8::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  padding: 11rem;
  background-color: transparent;
  bottom: 14rem;
  left: 21.5rem;
  transform-origin: right;
  transition: transform 0.4s ease-out;
  box-shadow: 3rem 38rem 13rem #5a2890;
  z-index: -1;
}

.formas__items--forma12::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  padding: 1rem;
  background-color: red;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transition: transform 0.4s ease-out;
  /* Aplica el box-shadow al ::before */
  box-shadow: 50px 50px 70px #5a2890;
}

@keyframes mover_forma8{
  0%{
      transform: translateX(0) translateY(0);
  }
  17%{
      transform: translateX(1000px) translateY(300px);
  }
  34%{
    transform: translateX(1200px) translateY(150px);
  }
  51%{
      transform: translateX(1000px) translateY(50px);
  }
  68%{
      transform: translateX(0px) translateY(300px);
  }
  84%{
    transform: translateX(-100px) translateY(150px);
  }
  100%{
      transform: translateX(0) translateY(0);
  }
}

.background__layout{
    position: fixed;
    z-index: 100;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    background-repeat: repeat;
    background-size: 200px;
    overflow-x: hidden;
    transition: all .2s ease-out;
    animation: grain 7s steps(10) infinite;
    opacity: .19;
    pointer-events: none;
}
.nav__item {
  position: relative;
  margin-left: 2.5rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
.nav__title {
  font-size: 24px;
  color: #ffffff;
  position: relative;
  display: inline-block;
  transition: 0.4s ease-in-out;
}
/*.nav__title::before,*/
.nav__title::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right,#744AC1, #221A39 );
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.nav__title::before {
  top: -5px;
  transform-origin: left;
}
.nav__title:hover {
  color: #646cff;
}
/*.nav__title:hover::before,*/
.nav__title:hover::after{
  transform: scaleX(1);
  
}
.social-icons-container {
  display: flex;
  /* position: relative;
  transform: translate(-50%, -50%); */
}

.social-icons-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 1rem;
}

.social-icon-item {
  list-style: none; /* Redundant here as it's already on the ul */
  z-index: 3;
}

.social-icon-link {
  width: 40px;
  height: 40px;
  text-align: center;
  /* line-height: 132px; */
  /* font-size: 35px; */
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  text-decoration: none;
  color: inherit;
}

.social-icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
  color: white;
  margin-left: 2px;
}

.social-icon-link:hover .social-icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-icon-link:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social-icon-link:hover:before {
  top: 0;
}

.social-icon-item:nth-child(1) .social-icon-link:before {
  background: #000000;
}

.social-icon-item:nth-child(2) .social-icon-link:before {
  background: #01b360;
}

.social-icon-item:nth-child(3) .social-icon-link:before {
  background: #0077b5;
}

.social-icon-item:nth-child(4) .social-icon-link:before {
  background: #dd4b39;
}
.container__img{
  z-index: 3;
}
.img__avatar {
  height: 14rem;
  mask-image: linear-gradient(to bottom, #000 0%, #000 100%);
  mask-size: 100% 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  border-radius: 7rem;
  border: 5px solid #a74fdd;
  background-color: #1e1d42;
}

.about__header{
  /* margin-top: 10rem; */
  margin: 9rem 3rem;
}
.about__infoperso{
  display: flex;
  flex-direction: row;
  margin: 10rem 0rem;
  border: 5px solid #5a2890;
  box-shadow: 10px 10px 27px #5a2890;
}
.infoperso__bio{
  padding: 1rem;
  width: 60%;
  text-align: left;
}
.infoperso__data{
  padding: 1rem;
  width: 40%;
  text-align: left;
}
.infoperso__option{
  margin: 1rem;
}
.bio__info{
  margin: 1rem;
}
.infoperso__title{
  font-size: 1.2rem;
  margin-right: 1rem;
}
.marquee__titulo{
  margin-bottom: 2.5rem;
  font-size: 2rem;
  line-height: 1.1;
}
.marquee__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10rem;
}
.marquee__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15rem;
}

.marquee__texto {
  position: absolute;
  top: calc(57% - 2.2rem);
  left: calc(42% - 2.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-principal);
}
.marquee__texto--1{
  position: absolute;
  top: calc(55% - 2.2rem);
  left: calc(47% - 2.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-principal);
}

.marquee__texto--2 {
  position: absolute;
  top: calc(57% - 2.2rem);
  left: calc(37% - 2.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-principal);
}

.marquee__texto--3 {
  position: absolute;
  top: calc(56% - 2.2rem);
  left: calc(44% - 2.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-principal);
}

.marquee__texto--4 {
  position: absolute;
  top: calc(56% - 2.2rem);
  left: calc(31% - 2.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-principal);
}

.marquee__texto--5 {
  position: absolute;
  top: calc(56% - 2.2rem);
  left: calc(27% - 2.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-principal);
}

.marquee__texto--6 {
  position: absolute;
  top: calc(56% - 2.2rem);
  left: calc(28% - 2.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-principal);
}
.acerca__marquee{
  margin: 8rem 0rem;
}
.marquee__item{
    display: flex;
    flex-direction: row;
    height: 453px;
}
.marquee__info{
  margin-right: 2rem;
  
}
.marquee__component{
  margin-right: 6rem;
}
.proyect__content{
  margin: 10rem 0rem;
}
.proyect__title{
  margin-bottom: 8rem;
}
.articulos__articulo{
  flex-basis: 48%;
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
  padding: 1.5rem;
  border: 9px solid #803caa;
  margin-bottom: 5rem;
  transition: all 300ms ease-in-out;
}
.articulos__articulo:hover{
  box-shadow: 0rem 2rem 2rem -3px rgba(0, 0, 0, 0.50);
  transform: translateY(-0.5rem);
}

.articulo__top{
  position: relative;
  overflow: hidden;
}

.articulo__categoria{
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.1rem ;
  line-height: 2rem;
  padding: 0.1rem 0.7rem;
  background-color: var(--color-secundario);
  color: var(--color-principal);
  z-index: 3;
}

.articulo__mascara{
  width: 100%;
  height: 15.5rem;
  overflow: hidden;
}

.article__image{
  display: block;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

.articulos__articulo:hover  .article__image,
.marquee__item:hover .marquee__icono{
  opacity: 0.8;
  filter: blur(1px);
}

.articulo__logo,
.marquee__logo{
  transition: all 200ms ease-in-out;
  opacity: 0;
}


.articulo__icono{
  position: absolute;
  top: calc(50% - 3.2rem);
  left: calc(40% - 5.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 8rem;
  color: var(--color-principal);
}
.articulo__icono2{
  position: absolute;
  top: calc(50% - 3.2rem);
  left: calc(50% - -3.6rem);
  width: 4.4rem;
  text-align: center;
  font-size: 8rem;
  color: var(--color-principal);
}
.articulo__icono3{
  position: absolute;
  top: calc(50% - 3.2rem);
  left: calc(40% - 3.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 8rem;
}
.articulo__icono4{
  position: absolute;
  top: calc(50% - 2.2rem);
  left: calc(40% - 5rem);
  width: 4.4rem;
  text-align: center;
  font-size: 8rem;
}

.articulo__texto1{
  position: absolute;
  top: calc(78% - 1.2rem);
  left: calc(41% - 5.9rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: #803CAA;
}

.articulos__articulo:hover .articulo__logo{
  opacity: 1;
}
.articulo__bottom{
  margin: 0;
  padding: 2.1rem;
  padding-top: 1.5rem;
  border: 0.2rem solid #646CFF;
  border-top: 0rem;
}

.articulo__texto2 {
  position: absolute;
  top: calc(78% - 1.2rem);
  left: calc(61% - 0.2rem);
  width: 4.4rem;
  text-align: center;
  font-size: 2rem;
  color: #803CAA;
}
.articulo__titulo{
  font-size: 3.5rem;
  transition: all 100ms ease-in-out;
  text-align: center;
}
.articulos__articulo:hover  .articulo__titulo{
  text-shadow: 0.0 1px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
} 
.articulos__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}
.trayectoria__title{
  border-bottom: 4px solid #804abb57;
  /* margin-bottom: 1rem; */
  padding-bottom: 4rem;
}
.certificados__container{
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.certificados__title{
  margin-bottom: 10rem;
}
.certificado__descarga{
  padding: 0.5rem;
  border : 3px solid #2a2c57;
  border-radius: 5px;
  background-color: #646cff;
  color: #ffffff;
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
}
.card__container{
  border: 5px solid #562e6a;
  box-shadow: 0px 4px 9px #2c2336;
  border-radius: 0.5rem;
}
.certificados__text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 0rem;
}
.certificados__text2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 0rem;
}
.certificado__certificados{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;

}
.certificado__texto{
  font-size: 4rem;
  padding: 3rem;
}
.acerca__title,
.proyect__titulo,
.trayectoria__title,
.certificados__title
{
  padding: 5rem;
}
/* Estilos base */
.infoperso__button {
  padding: 0.5rem 0.5rem;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  background: linear-gradient(to right, #921C89, #712BC8, #185ACD);
  transition: all 0.5s ease-out;
  width: 50%;
  border: 1px solid #5a2890;
}
/* Estilos al pasar el ratón */
.infoperso__button:hover {
  transform: scale(1.05); /* Equivalente a hover:scale-105 */
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.25)); /* Equivalente a hover:drop-shadow-2xl (aproximado) */
  box-shadow: 0 25px 50px -12px rgba(90, 40, 144, 0.25); /* Equivalente a hover:shadow-[#5A2890] (aproximado) */
}
.infoperso__ewqewreqw{
    font-size: 1.2rem;
}
