body{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.layout{
  width: 85%;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  margin-bottom: 3.5rem;
  border-bottom: 3px solid black;
}

.header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 132px;
  
}

.header .logo{
  display: flex;
  
}

.header .logo span{
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -2px;
}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-size: 1.15rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.header nav li{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}

.header li a {
  color: black;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.header .active,
.header li a:hover
 {
  color:  rgb(125, 0, 156);;
}



.content{
  min-height: 400px;
}

.footer{
  min-height: 50px;
  line-height: 20px;
  font-size: 14px;
  margin-top: 35px;
  border-top: 3px solid black;
  padding-top: 45px;
  background: #f5f5f5;
  color: #444;
  margin-top: 80px;
  text-align: center;
}

.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 50px;
  margin-top: 0px;
}

.home strong{
  color: rgb(125, 0, 156);
  font-size: 55px;
}

.home h3{
  color: grey;
  font-weight: 100;
}

.home .title a{
  padding: 10px;
  margin: 1rem;
  border-radius: 5rem;
  color: white;
  background-color: #fa4529;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.home .title a:hover{
  background-color: rgb(125, 0, 156);
  color: white;
}


.page .heading,
.home .heading {
    font-size: 45px;
    font-style: italic;
    /* font-weight: 300; */
    color: black;
    text-align: center;
    text-transform: uppercase;

}

.home p {
  color: rgb(125, 0, 156);
}

input[type="text"],
textarea,
input[type="email"]{
  display: block;
  padding: 20px;
  margin-top: 25px;
  width: 150px;
}

input[type="submit"],
input[type="button"]{
  font-size: 16px;
  padding: 13px;
  margin: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: rgb(125, 0, 156);
  text-decoration: none;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover{
  background-color: white;
  color: black;
  border: 2px solid black ;
  cursor: pointer;
}

.works{
  display: flex;
  flex-wrap: wrap;
}

/* .mask__imagen{
  flex-basis: 35%;
  flex-grow: 1;
} */

.work-item{
  flex-basis: 35%;
  flex-grow: 1;
}

.mask__imagen {
  width: 100%;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  transition: all 300ms ease-in-out;
}

.works__work-item{
  flex-basis: 30%;
  flex-grow: 1;

  margin: 30px;
  border: 0.5rem solid #7339ad;
  padding: 0rem;
  border-radius: 1.2rem;
  transition: all 300ms ease-in-out;
}


.works__work-item:hover{
  box-shadow: 0px 0px 6px #030303;
}

.work-item__mask{
  display: 100%;
  height: 250px;
  overflow: hidden;
}
.info {
  margin-top: 0rem;
  text-align: center;
  padding-top: 0.5rem;
  border: 3px solid black;
  border-radius: 0rem 0rem 0.6rem 0.6rem;
}
.info__nombre{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: all 300ms ease-in-out;
}
.works__work-item:hover .info__nombre{
  font-size: 1.6rem;
  color: #7339ad;
}
.works__work-item:hover .mask__imagen{
  transform: scale(1.2);
}

.page__tecnologias{
  
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.page__descripcion{
  font-size: 2rem;
  font-weight: 400;
  color: black;
  line-height: 2.5rem;
}

.page__img {
  width: 100%;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
  transition: all 300ms ease-in-out;
}

.page__img:hover{
  box-shadow: 0px 0px 12px #030303;
}
